<div class = 'container'>
	<div class= 'row'>
		<div class ='col-sm-4 col-sm-offset-4'>
			<img src='../../assets/img/burger.png'>
		</div>
	</div>
	<div class = 'row'>
		<div class = 'col-sm-4'>
			<ul id = 'uneatenList'>
				{{#each burgers}}
				<li>
					<span>{{name}}
						<button data-burgerName= "{{name}}" class="devourBurger">Devour</button>
					</span>
				</li>		
				{{/each}}		
			</ul>
		</div>
		<div class = 'col-sm-4'>
			<h1>Please submit your burger</h1>
			<textarea id="newBurger" placeholder="Type your burger name here." style = "width: 100%; height: 40px"></textarea>
			<button type="submit" id="submit" class='btn btn-submit'>Submit Your Burger</button>
		</div>
		<div class= 'col-sm-4'>
			<h3>Devoured Burgers</h3>
			<ul id = 'eatenList'>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#submit").on('click', function(event) {
		event.preventDefault();
		var newBurger = $('#newBurger').val();
		$.ajax("/", {
			type: POST,
			data: newBurger
		}).then(function() {
			console.log("new burger named " + newBurger + " added");
		})
	});
	$(".devourBurger").on('click', function() {
		var id = $(this).data('burgerName');
		$.ajax('/', {
			type: "DELETE"
		}).then(function() {
			console.log("deleted " id;);
			var newLi = $("<li>");
			newLi.text(id).appendTo('#eatenList');
		})

	})



