<div class = 'container'>
	<div class='row'>
		<h1 class='header col-sm-4 col-sm-offset-4'>Eat-Da-Burger</h1>
		<div class = 'col-sm-4 col-sm-offset-4'>
			<img id="burger-img" src = "../../assets/img/burger.png">
		</div>
	</div>
	<div class = 'row'>
		<div class = 'col-sm-4'>
			<h3>Burgers to devour.</h3>
			<ul id = 'uneatenList'>
				{{#each burgers}}
					{{#unless devoured}}
						{{>burgers/burger-block devoured = false}}
					{{/unless}}
				{{/each}}		
			</ul>
		</div>

		<div class = 'col-sm-4'>
			<h1>Please submit your burger</h1>
			<textarea id="newBurger" placeholder="Type your burger name here." style = "width: 100%; height: 40px"></textarea>
			<button type="submit" id="submit" class='btn btn-submit'>Submit Your Burger</button>
		</div>
		<div class= 'col-sm-4'>
			<h3>Devoured Burgers</h3>
			<ul id = 'eatenList'>
				{{#each burgers}}
					{{#if devoured}}
						{{>burgers/burger-block devoured = true}}
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
</div>


