img {
	width: 100%;
}
.header {
	text-align: center;
	font-size:3em;
}
body {
	background-color: aliceblue;
	background-image: url("../img/background.png");
	background-size: 100%;
}
.container {
    width: 100%;
    position: absolute;
    top: 36%;
}
#eaten {
    position: relative;
    left: 2%;
}
#eatenHeader,
#uneatenHeader {
	position: relative;
    left: 6%;
}
h1 {
	width: 79%;
}
textarea {
	position: relative;
    left: -4.5%;
}
.btn-submit {
	position: relative;
	left: -4.5%;
}