img {
	width: 100%;
}
.header {
	text-align: center;
	font-size:3em;
}
body {
	background-color: aliceblue;
	background-image: url("../img/background.png");
	background-size: 100%;
}
#eaten {
    left: 1.5%;
    position: absolute;
    left: 68%;
    top: 22%;
}
#uneaten {
    position: absolute;
    left: 0%;
    top: 22%;
}
h1 {
	width: 79%;
}
#textAreaHeader{
    position: relative;
    right: -6%;
}
li {
	font-size: 1em;
}
#inputArea {
	position: absolute;
	left:32%;
	top:40%;
}
#eatenHeader,
#uneatenHeader {
	position:relative;
	left: 8.5%;
}