<li>
	<span>
		{{burger_name}}
		{{#unless devoured}}
			<button class = "devourBurger" data-name="{{name}}" data-devoured="{{"devoured"}}">Devour Burger</button>
		{{/unless}}
	</span>
</li>
