<li>
	<span>
		<h1>{{burger_name}}</h1>
		{{#unless devoured}}
			<button class = "devourBurger" data-id="{{id}}" data-devoured="{{"devoured"}}">Devour Burger</button>
		{{/unless}}
	</span>
</li>
