<li>
	<span id ="{{id}}">
		{{burger_name}}
		{{#unless devoured}}
			<button class = "devourBurger" data-id="{{id}}" data-devoured="{{"devoured"}}">Devour Burger</button>
		{{/unless}}
	</span>
</li>
